<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Admin</title>

  <link rel="stylesheet" href="styles/admin.css" type="text/css" />
  <script src= "/js/admin.js" defer></script>
</head>
<body>

  <header>
    <nav>
      <h1>Submission History</h1>
      <h2>(Sorted Descending Order)</h2>
      <a href="/">Home</a>
      <a href="/submit-poem">Submit Poem</a>
    </nav>
  </header>

  <main>
    <div id="submissions">

      <% if (Object.keys(poems).length != 0) { %>
        
        <% for (let i = poems.length - 1; i >= 0; i--) { %>
        <section class = "submission">
          <h3>Submission # </h3>
          <ul>
            <li><strong>Title:</strong> <%= poems[i].title %></li>
            <li><strong>Author:</strong> <%= poems[i].author %></li>
            <li><strong>Tags:</strong> <%= poems[i].tags %></li>
            <li><strong>Date Written:</strong> <%= poems[i].date %></li>
            <li><strong>Poem:</strong> <pre><%= poems[i].poem_body %></pre></li>
            <li><strong>Timestamp:</strong> <%= poems[i].timestamp %></li>
          </ul>
        </section>
      <% } %>

      <% } else { %>

        <div id = "not-found">
          <p>No submissions found.</p>
        </div>

      <% } %>

    </div>
  </main>
  
</body>
</html>