<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Admin</title>

  <link rel="stylesheet" href="styles/admin.css" type="text/css" />
</head>
<body>

  <header>
    <h1>Submission History</h1>
  </header>

  <main>
    <div id="submissions">

      <% poems.forEach(poem => { %>
        <section>
          <ul>
            <li><strong>Title:</strong> <%= poem.title %></li>
            <li><strong>Author:</strong> <%= poem.author %></li>
            <li><strong>Tags:</strong> <%= poem.tags %></li>
            <li><strong>Date Written:</strong> <%= poem.date %></li>
            <li><strong>Poem:</strong> <pre><%= poem.poem_body %></pre></li>
            <li><strong>Timestamp:</strong> <%= poem.timestamp %></li>
          </ul>
        </section>
      <% }) %>
    </div>
  </main>
  
</body>
</html>