<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Admin</title>
  <link rel="stylesheet" href="/styles/nav.css" type ="text/css" >
  <link rel="stylesheet" href="/styles/admin.css" type="text/css" >
  <script src= "/js/admin.js" defer></script>
</head>
<body>
  <header>
    <h1 id="main-title">MultiVerses</h1>
    <%- include('partials/nav.ejs') %>
    <!-- <nav>
      <a href="/">Home</a>
      <a href="/submit-poem">Submit Poem</a>
    </nav> -->
    <h2>History</h2>
    <h3>(Most Recent First)</h3>
  </header>

  <main>
    <div id="submissions">
      <%# POPULATING POEMS %>
      <%# Checks if poems obj. has entries. If has entries, creates
      a .submission section and populates fields with data, oldest to
      most recent. If no entries, displays "No submissions found."
      Submission # value populated from function in admin.js file. -S
      %>
      <% if (Object.keys(poems).length != 0) { %>
        
        <% for (let i = 0; i < poems.length; i++) { %>
        <section class = "submission">
          <h3>Submission # </h3>
          <ul>
            <li><strong>Title:</strong> <%= poems[i].title %></li>
            <li><strong>Author:</strong> <%= poems[i].author %></li>
            <li><strong>Tags:</strong> <%= poems[i].tags %></li>
            <li><strong>Date Written:</strong> <%= poems[i].date %></li>
            <li><strong>Poem:</strong> <pre><%= poems[i].poem %></pre></li>
            <li><strong>Timestamp:</strong> <%= poems[i].timestamp %></li>
          </ul>
        </section>
      <% } %>

      <% } else { %>

        <div id = "not-found">
          <p>No submissions found.</p>
        </div>

      <% } %>

    </div>
  </main>
  
</body>
</html>