<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation</title>
    <link rel="stylesheet" href="/styles/confirmation.css" type ="text/css" />
  </head>
  <body>
    <h1>Thank you for submitting your poem, <%= poem.author %>!</h1>

    <p>Author: <%= poem.author %></p>
    <p>Title: <%= poem.title %></p>
    <p>Date of Writing: <%= poem.date %></p>
    <p>Date of Submission: <%= poem.timestamp %></p>
    <p>Tags: <%= poem.tags.length ? poem.tags.join(", ") : "none" %></p>
    <p>Poem:</p>
    <pre><%= poem.poem_body %></pre>

    <a href="/">Return to Home Page</a>
  </body>
</html>
