<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation</title>

    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/confirmation.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1 id="main-title">MultiVerses</h1>
      <%- include('partials/nav.ejs') %>
    </header>
    <main class="confirmation">
      <h1>Thank you for submitting your poem, <%= poem.author %>!</h1>

    <p>Author: <%= poem.author %></p>
    <p>Title: <%= poem.title %></p>
    <p>Date of Writing: <%= poem.date %></p>
    <p>Date of Submission: <%= poem.timestamp %></p>
    <p>Tags: <%= poem.tags %></p>
    <p>Poem:</p>
    <pre><%= poem.poem %></pre>

      <a href="/">Return to Home Page</a>
    </main>
  </body>
</html>
