<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Multiverses</title>
    <link rel = "icon" href = "imgs/favicon.png">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/particles.css" type="text/css">
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" >
    <link rel="stylesheet" href="/styles/home.css" type="text/css" >
  
    <!-- JAVASCRIPT -->
    <script src="/js/home.js" defer></script>
  </head>
  <body>
    <!-- particles.js container --> 
    <div id="particles-js"></div> 
    <!-- particles.js lib - https://github.com/VincentGarreau/particles.js for the library!-->
    <header>
      <h1 id="main-title">MultiVerses</h1>
      <%- include('partials/nav.ejs') %>
    </header>
    <main>
      <div id="poems">

        <div id="create-poem-button">
          <a href="/submit-poem">
            <img src="imgs/plus.png" alt="create poem plus sign" >
          </a>
        </div>

        <% poems.forEach(poem => { %>
          <div class = "poem" id = "poem-<%= poem.id %>">
            <form method="POST" action="/delete-poem/<%= poem.id %>">
                <button type="submit" class="delete-btn">🗑️</button>
            </form>
            <ul class = "poem-info">
              <li class = "poem-title"> <%= poem.title %> </li> 
              <hr>
              <li><strong>Author:</strong> <%= poem.author %> </li> 
              <li><strong>Date Written:</strong> <%= (poem.date) ? poem.date.toLocaleDateString() : "Unknown" %> </li>
            </ul>

            <p class="poem-body-home">
              <pre><%= poem.poem %></pre>
            </p>

            <ul class="poem-tags">
              <% if (poem.tags != "none") { %>
                <% poem.tags.split(" ").forEach(tag => {%>
                <li class="poem-tag"> <%= tag.trim() %> </li>
                <%}); %>
              <% } %>
            </ul>

          </div>
        <% }) %>

      </div>
    </main>

    <modal id="poem-modal">

      <button id = "close-button">X</button>

      <ul class = "poem-info">
        <li id = "modal-poem-title"></li> 
        <li id = "modal-poem-author"><strong>Author:</strong></li> 
        <li id = "modal-poem-date"><strong>Date Written:</strong></li>
      </ul>

      <p id ="modal-poem-body">
        <pre>Temp <%# poem.poem %></pre>
      </p>

      <ul class="modal-poem-tags">
        <%# if (poem.tags != "none") { %>
          <%# poem.tags.split(" ").forEach(tag => {%>
          <li class="modal-poem-tag"> Temp <%# tag.trim() %> </li>
          <%#}); %>
        <%# } %>
      </ul>
    </modal>

    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
    <script src="/js/stars.js" defer></script>
  </body>
</html>
